
.icon-p{
    width: 50px;
    margin-right: 10px;
}

.color-principal{
    background-color: #40916C;
}

.icon-menu{
    width: 50px;
    margin-right: 10px;
}

#buscador_h .ui-inputtext{
    width: 500px;
}
.imagen-hotel{
    width: 50%;
}
.imagen-default{
    width: 30px;

}

body .ui-dataview .ui-dataview-content{
    background: none;
}

.item-ciudad{
    text-align: center;
}